.boardTask {
  margin: 10px;
  padding: 7px;
  background: #fff;
  min-height: 60px;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 rgba(9,30,66,0.31), 0 2px 4px -1px rgba(9,30,66,0.25);
  cursor: move;
}

.boardTaskTitle {
  margin-bottom: 20px;
  max-height: 45px;
  overflow: hidden;
  text-align: center;
}

.boardTaskInfoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;

  .boardTaskAvatar {
    background: #1565c0;
    width: 22px;
    height: 22px;
    font-size: 10px;
  }

  .boardTaskInfoWrapperRightSide {
    display: flex;

    > span {
      margin-right: 5px;
    }
  }
}

.boardTaskNumberPriority {
  span {
    margin-right: 5px;
  }
}
