.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  padding: 15px 30px;
  overflow: scroll;
  width: 400px;
  min-height: 300px;
  max-height: 80%;
  background-color: #fff;
  border: 2px solid #091e424f;
  box-shadow: 0 0 1px 0 #091e424f, 0 2px 4px -1px #091e424f;

  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

.modalTitle {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
