.informationFormButtonsWrapper {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.informationFormButtonsWrapper {
  button {
    margin-right: 10px;
  }
}

.informationFormTaskNumner {
  margin-top: -20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 13px;
}
